<div class="container">
  <h1> New Snippet </h1>

  <%= simple_form_for @snippet do |snip| %>
    <!-- Title -->
    <%= snip.input :title, label: false, placeholder: "Snippet Title" %>
    <!-- Work -->
    <%= snip.input :work, as: :text, label: false, placeholder: "Enter code here" %>
    <!-- Kind -->
    <%= snip.association :kind, as: :select %>
    <!-- Submit -->
    <%= snip.submit label: "Save Snippet", class: "btn btn-primary"%>
  <% end %>

</div>
