<div class="container">
  <h3><%= @snippet.title %></h3>
  Language: <%= @snippet.language %>
<hr>

<% if @snippet.is_markdown? %>
  <%= markdown(@snippet.work) %>
<% else %>
  <%= markdown(@snippet.wrap_in_pre_tags) %>
<% end %>

<hr>

<%= link_to "Edit", edit_snippet_path(@snippet) %>
|
<%= link_to "#{@snippet.kind.name} Snippets", kind_path(@snippet.kind) %>
|
<%= link_to "All Snippets", snippets_path %>
</div>
