<!DOCTYPE html>
<html>
<head>
  <title>Code Snippet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "container" >
  <%= link_to "New Snippet", new_snippet_path %>
  |
  <%= link_to "All Snippets", snippets_path %>

  <span style="float: right">
    <% if user_signed_in? %>
      Hello, <%= current_user.full_name %> |
      <%= link_to "Logout", sessions_path, method: :delete, data: {confirm: "Are you sure you want to log out?"} %>
    <% else %>
      <%= link_to "Login", new_session_path %> |
      <%= link_to "Sign Up", new_user_path %>
    <% end %>
  </span>
</div>
<hr />

<%= yield %>

</body>
</html>
